# Visual Studio 暫存檔案
.vs/
[Bb]in/
[Ob]j/
*.user
*.suo
*.userosscache
*.sln.docstates

# 編譯產生的執行檔
*.exe
*.pdb
*.dll

# 作業系統暫存
Thumbs.db
.DS_Store
/AsmEmuShort/obj/Debug/AsmEmuShort.csproj.CoreCompileInputs.cache
/AsmEmuShort/obj/Debug/AsmEmuShort.csproj.CoreCompileInputs.cache
/AsmEmuShort/obj/Debug/AsmEmuShort.csproj.FileListAbsolute.txt
*.resources
/AsmEmuShort/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AsmEmuShort/obj/Debug/AsmEmuShort.csproj.GenerateResource.cache
/Assembler/obj/Debug/Assembler.csproj.FileListAbsolute.txt
